<div class="container box mt-5">
  <form [formGroup]="form" class="m-5" (submit)="search()">
    <div class="columns is-multiline is-mobile">
      <p class="control column is-one-fifth-desktop is-two-third-mobile">
        <a
          class="button is-link"
          [routerLink]="['/buyers/crear']"
          type="button"
        >
          Registrar cliente
        </a>
      </p>
      <div class="column is-three-fifth-desktop is-full-mobile search">
        <div class="columns is-mobile is-multiline">
          <p class="control column is-10">
            <input
              type="text"
              class="input is-dark"
              formControlName="search"
              [ngClass]="{ 'is-loading': (isLoading | async) }"
              placeholder="Buscar"
            />
          </p>
          <p class="control column is-1">
            <button class="button is-info" type="submit" (submit)="(true)">
              <i class="fas fa-search"></i>
            </button>
          </p>
        </div>
      </div>
    </div>
  </form>
  <table
    *ngIf="buyers$ | async as buyers"
    class="table is-fullwidth is-stripped is-narrow is-hoverable mt-5 m-2"
  >
    <thead>
      <tr>
        <th><abbr title="Position">id</abbr></th>
        <th><abbr title="Played">Nombre completo</abbr></th>
        <th><abbr title="Won">Correo</abbr></th>
        <th><abbr title="Drawn">Dirección</abbr></th>
        <th><abbr title="Goals against">Teléfono</abbr></th>
        <th><abbr title="Goal difference">Acción</abbr></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="buyers.length == 0" style="width: 100%">
        <td colspan="7">No se encontraron resultados</td>
      </tr>
      <tr [routerLink]="['ver/' + buyer.id]" *ngFor="let buyer of buyers">
        <th>{{ buyer.id }}</th>
        <td>{{ buyer.names + " " + buyer.last_names + " " | titlecase }}</td>
        <td>{{ buyer.email }}</td>
        <td>{{ buyer.address }}</td>
        <td>{{ buyer.phone }}</td>
        <td>
          <button
            [routerLink]="['actualizar/' + buyer.id]"
            (click)="$event.stopPropagation()"
            class="button is-link is-small is-rounded is-outlined"
            type="button"
          >
            <i class="fas fa-edit"></i>
          </button>
          <button
            (click)="eliminar(buyer.id); $event.stopPropagation()"
            class="button is-danger is-small is-rounded is-outlined"
            type="button"
          >
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr style="width: 100%">
        <td colspan="7">
          <button
            [disabled]="page == 1"
            class="button is-link is-outlined is-small is-rounded mr-2"
            type="button"
            (click)="prevPage()"
          >
            <i class="fas fa-arrow-left"></i>
          </button>
          {{ page }}
          <button
            [disabled]="buyers.length != limit"
            class="button is-link is-outlined is-small is-rounded ml-2"
            type="button"
            (click)="nextPage()"
          >
            <i class="fas fa-arrow-right"></i>
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
