<div class="container mt-5">
  <article class="media box">
    <figure class="media-left">
      <p class="image is-64x64">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png"
        />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{
            buyer?.names + " " + buyer?.last_names | titlecase
          }}</strong>
          <small class="ml-2">{{ buyer?.email }}</small>
          <br />
        </p>
        <p>
          Fecha de ingreso:
          <small class="ml-2">{{ buyer?.created_at | date : "medium" }}</small>
        </p>
        <p>
          Ultima actualización:
          <small class="ml-2">{{ buyer?.updated_at | date : "medium" }}</small>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <button
            [routerLink]="['/buyers/actualizar/' + buyer?.id]"
            (click)="$event.stopPropagation()"
            class="button is-link is-small is-rounded is-outlined"
          >
            <i class="fas fa-edit"></i>
          </button>
          <button
            (click)="eliminar(buyer!.id); $event.stopPropagation()"
            class="button is-danger is-small is-rounded is-outlined"
          >
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </nav>
    </div>
  </article>
</div>
