<div class="container mt-5">
  <div class="box m-2">
    <h1 class="title is-2 is-faded has-text-grey">Registrar user</h1>
    <form
      class="block p-5 is-flex is-flex-direction-column"
      [formGroup]="form"
      (submit)="submit()"
    >
      <div class="columns is-multiline is-mobile">
        <div class="column is-full-mobile is-half-tablet is-half-desktop">
          <p class="control">
            <input
              type="text"
              [ngClass]="{ 'is-danger': isInvalidInput('last_names') }"
              class="input is-rounded"
              formControlName="last_names"
              placeholder="Apellidos"
            />
          </p>
          <div
            *ngIf="isInvalidInput('last_names')"
            class="notification is-danger is-light"
          >
            <p>
              Recuerda que este campo debe ingresarse en mayúsculas y debe tener
              menos de 50 caracteres
            </p>
          </div>
        </div>
        <div class="column is-full-mobile is-half-tablet is-half-desktop">
          <p class="control">
            <input
              type="text"
              [ngClass]="{ 'is-danger': isInvalidInput('names') }"
              class="input is-rounded"
              formControlName="names"
              placeholder="Nombre"
            />
          </p>
          <div
            *ngIf="isInvalidInput('names')"
            class="notification is-danger is-light"
          >
            <p>
              Recuerda que este campo debe ingresarse en mayúsculas y debe tener
              menos de 50 caracteres
            </p>
          </div>
        </div>
        <div class="column is-full">
          <p class="control">
            <input
              type="email"
              [ngClass]="{ 'is-danger': isInvalidInput('email') }"
              class="input is-rounded"
              formControlName="email"
              placeholder="email"
            />
          </p>
          <div
            *ngIf="isInvalidInput('email')"
            class="notification is-danger is-light"
          >
            <p>
              Recuerda que este campo debe ingresarse en mayúsculas y debe tener
              menos de 50 caracteres
            </p>
          </div>
        </div>
        <div class="column is-full">
          <p class="control">
            <input
              type="text"
              [ngClass]="{
                'is-danger': isInvalidInput('identification')
              }"
              formControlName="identification"
              class="input is-rounded"
              placeholder="Número de identificación"
            />
          </p>
          <div
            *ngIf="isInvalidInput('identification')"
            class="notification is-danger is-light"
          >
            <p>
              Recuerda que este campo solo acepta un caracter especial que es el
              guion "-"
            </p>
          </div>
        </div>
        <div
          class="column is-full-mobile is-one-half-tablet is-one-quarter-desktop"
        >
          <div class="control">
            <div class="select is-rounded" style="width: 100%">
              <select
                formControlName="is_superuser"
                [ngClass]="{ 'is-danger': isInvalidInput('is_superuser') }"
                placeholder="Super usuario"
                style="width: 100%"
              >
                <option selected disabled>Super usuario</option>
                <option [value]="true">Sí</option>
                <option [value]="false">No</option>
              </select>
            </div>
            <div
              *ngIf="isInvalidInput('is_superuser')"
              class="notification is-danger is-light"
            >
              <p>Debes elegir si es o no super usuario</p>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons is-flex is-justify-content-flex-end mt-5 w-100">
        <button
          class="button is-danger is-rounded is-medium"
          routerLink="../"
          type="button"
        >
          Cancelar
        </button>
        <button
          class="button is-success is-rounded is-medium"
          [ngClass]="{ 'is-loading': (isLoading | async) }"
          type="submit"
          [disabled]="form.invalid"
        >
          Crear
        </button>
      </div>
    </form>
  </div>
</div>
