<div class="container">
  <div class="login box mt-5">
    <form
      class="block p-5 is-flex is-flex-direction-column"
      need-validation
      novalidate
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            formControlName="password"
            class="input is-rounded"
            type="password"
            placeholder="Contraseña"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input
            formControlName="repeatPassword"
            class="input is-rounded"
            type="password"
            placeholder="Repetir contraseña"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="buttons is-flex is-justify-content-flex-end w-100">
        <button
          class="button is-danger is-rounded is-medium"
          routerLink="../"
          type="button"
        >
          Cancelar
        </button>
        <button
          [ngClass]="{ 'is-loading': isLoading | async }"
          [disabled]="form.invalid || (isLoading | async)"
          class="button is-success is-medium is-rounded"
          (submit)="(true)"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
