@charset "utf-8";

.container{
    max-width: 1025px !important;
    min-height: 90vh !important;
}

:host {
    height: 100%
}

.w100{
    width: 100%;
}

app-root {
    display: block;
    height: 100%;
  }

html, body{
    max-width: 100vw;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.swiper-pagination-bullet-active {
    background-color: rgb(147, 177, 225) !important;
    border: 1px #000;
}


@import "../node_modules/bulma/bulma.sass";
@import '../node_modules/@sweetalert2/theme-bulma/bulma.scss';